# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse
.idea/
*.iml
*.classpath
*.project
*.settings/

# OS 관련
.DS_Store
Thumbs.db

# 로그 / 환경 파일
*.log
.env
*.bak

# 톰캣 빌드 결과
*.war
*.ear
*.jar

# 이미지 파일
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.bmp
*.BMP
*.svg
*.SVG
/bin/
