<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>비밀번호변경</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/changePassword.css}">
</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>
	
	<div class="changePassword-container">
		<h1>비밀번호변경</h1>
		<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
		<form th:action="@{/ChangePassword}" class="changePassword-form" method="post">			
			<input type="password" name="password" placeholder="비밀번호" required/><br>			
			<input type="password" name="passwordCon" placeholder="비밀번호 확인" required/><br>
			<button type="submit" class="sub-buttons">확인</button>
		</form>
	<div>
</body>

</html>