<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>IRI-ON : 개인정보수정</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/login.css}">

</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<div class="login-container">
		<h1>개인정보수정</h1>
		<form th:action="@{/ModifyUser}" th:object="${UsersDto}" method="post">
			<p class="error" th:if="${errorMessage}" th:text="${errorMessage}"></p>

			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{password}">
			<input type="hidden" th:field="*{status}">

			<div class="modify-form">
				<label for="nickname">닉네임</label>
				<input type="text" th:field="*{nickName}" required /><br />
			</div>
			
			<div class="modify-form">
			<label for="realName">이름</label>
			<input type="text" th:field="*{realName}" required /><br />
			</div>
			
			<div class="modify-form">
			<label for="phoneNumber">전화번호</label>
			<input type="tel" th:field="*{phoneNumber}" required
			 			pattern="^\d{3}-\d{3,4}-\d{4}$" 
						maxlength="13"
						inputmode="numeric/"><br />
			</div>
			
			<div class="sub-buttons">
				<button type="submit">수정</button>
				<button type="button" class="cancel-btn" onclick="location.href='/MyPage'">취소</button>
			</div>
		</form>
	</div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const phoneInput = document.querySelector('[name="phoneNumber"]');

    phoneInput.addEventListener("input", function (e) {
      let value = e.target.value.replace(/[^0-9]/g, ''); // 숫자만 남기기

      if (value.length <= 3) {
        // 010
        e.target.value = value;
      } else if (value.length <= 7) {
        // 010-1234
        e.target.value = value.slice(0, 3) + '-' + value.slice(3);
      } else if (value.length <= 11) {
        // 010-1234-5678
        e.target.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7);
      } else {
        // 최대 11자리까지만
        e.target.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11);
      }
    });
  });
</script>
</html>