<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>비밀번호확인</title>
	<link rel="stylesheet" th:href="@{/CSS/login.css}">
	<link rel="stylesheet" th:href="@{/CSS/passwordConfirm.css}">
</head>

<body>
	<div class="login-container">

		<h1>비밀번호 확인</h1>
		<form th:action="@{/PasswordConfirm}" class="passwordConfirm-form" method="post" >	
			<input type="password" name="password" placeholder="비밀번호" /><br>
			<button type="submit" class="login-btn">확인</button>
		</form>
	</div>
	</div>
</body>

</html>