.AllUsers .status-green {
  background-color: #d4edda; /* 연녹색 배경 */
  color: #155724; /* 진녹색 텍스트 */
}

.AllUsers .status-red {
  background-color: #f8d7da; /* 연빨강 배경 */
  color: #721c24; /* 진빨강 텍스트 */
}