.editProfilePhoto-container {
	max-width: 400px;
	margin: 100px auto;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
}

.sub-buttons {
	width: 40%;
	padding: 8px;
	background-color: #8b5e3c;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	margin: -10px auto 5px auto;
	margin-bottom: 5px auto;
	display: block;
	transition: background-color 0.3s;
}

.sub-buttons:hover {
	background-color: rgb(255, 128, 0);
}

input[type="file"] {
	display: block;
	width: 80%;
	margin: 20px auto 30px auto;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fdfdfd;
	cursor: pointer;
	transition: border-color 0.3s;
}

input[type="file"]:hover {
	border-color: #8b5e3c;
}