.home-popular-post {
  margin-top: 30px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-popular-post h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.board-title {
  font-size: 1.5rem;
  margin: 40px 0 20px;
  text-align: left;
  color: #5c5c5c;
  padding-left: 10px;
  border-left: 5px solid #ff6f61;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.card-grid > a {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  flex: 0 1 calc(33.333% - 20px); /* 한 줄에 3개 */
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.card-grid > a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  color: #ff6f61;
}

.card-grid img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid #8CA59E;
}

.card-grid h3 {
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.card-grid p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}
