/* 리스트 항목 전체 */
.memo-list-item {
	padding: 12px 16px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	background-color: #fafafa;
	margin-bottom: 7px;
	margin-top: 7px;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

/* 마우스 오버 효과 */
.memo-list-item:hover {
	background-color: #f0f8ff;
}

/* 제목 */
.memo-title {
	font-weight: 600;
	font-size: 16px;
	color: #333;
	margin-bottom: 1px;
}

/* 애견 이름 */
.memo-animal {
	font-size: 14px;
	color: #666;
}
