.signUp-container {
	max-width: 400px;
	margin: 100px auto;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
}

.signUp-form input {
	width: 100%;
	padding: 12px 14px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	box-sizing: border-box;
	
}

.sub-buttons {
	width: 40%;
	padding: 8px;
	background-color: #8b5e3c;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	margin: -10px auto 5px auto;
	margin-bottom: 5px auto;
	display: block;
	transition: background-color 0.3s;
}

.sub-buttons:hover {
	background-color: rgb(255, 128, 0);
}


.hidden {
	display: none;
	align-items: center; 
	gap: 10px;
	margin-top: 10px;
}