<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.setoka.mapper.UserMapper">

	<select id="selectUserByNum" resultType="com.practice.setoka.dao.Users" parameterType="int">
    	SELECT * FROM users WHERE num = #{num}
  	</select>
  	
	<select id="selectUserByID" resultType="com.practice.setoka.dao.Users" parameterType="String">
    	SELECT * FROM users WHERE id = #{id}
  	</select>
  	
	<select id="selectUserByIDPassword" resultType="com.practice.setoka.dao.Users" parameterType="String">
    	SELECT * FROM users WHERE id = #{num} AND password = #{password}
  	</select>
	
	<select id="selectAllUsers" resultType="com.practice.setoka.dao.Users">
    	SELECT * FROM users
  	</select>
  	
  	<insert id="insertUserToDto" parameterType="com.practice.setoka.dto.UsersDto">
  		INSERT INTO users (id, password, nickname, realname, phoneNumber) VALUES(#{id}, #{password}, #{nickName}, #{realName}, #{phoneNumber})
  	</insert>
  	
  	<update id="updateUser" parameterType="com.practice.setoka.dto.UsersDto">
  		UPDATE users SET password = #{password}, nickname = #{nickName}, realname = #{realName}, phoneNumber = #{phoneNumber}, status = #{status} WHERE id = #{id}
  	</update>
  	
  	<update id="updateProfilephotoPath">
  		UPDATE users SET Profilephoto = #{path} WHERE id = #{id}
  	</update>
  	
  	<select id="selectProfilephotoPath">
  		SELECT Profilephoto FROM users WHERE id = #{id}
  	</select>
	
</mapper>