<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>IRI-ON : 로그인</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/login.css}">

</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<!--중복 로그인시 에러메세지 출력-->
	<div th:if="${error}" style="color: red; text-align: center;">
		<p th:text="${error}"></p>
	</div>
	
	<div class="login-container">
		<h1>로그인</h1>
		<!-- 에러 메시지 -->
		<div th:if="${param.error}">
		    <p style="color: red;">아이디 또는 비밀번호가 잘못되었습니다.</p>
		</div>
		<form th:action="@{/doLogin}" method="post" class="login-form">
			<input type="text" id="id" name="id" placeholder="아이디" required />
			<input type="password" id="password" name="password" placeholder="비밀번호" required />
			
			<button type="submit" class="login-btn">로그인</button>
			
			<div class="sub-buttons">
				<button type="button" onclick="location.href='/SignUp'">회원가입</button>
				<button type="button" onclick="location.href='/passwordFind'">비밀번호 찾기</button>
			</div>
		</form>
	</div>
</body>

</html>