<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>비밀번호 찾기 폼</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/passwordFind.css}">
	
</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<div class="passwordFind-container">
		<h1>비밀번호 찾기</h1>
	
		<form th:action="@{/sendPasswordFind}" method="post">
			<p th:if="${sendMessage}" th:text="${sendMessage}"></p>
	
			<label for="id">ID:</label>
			<input type="email" id="email" name="email" th:value="${email}" required /><br>
			<button id="send" type="submit" class="sub-buttons">메일 보내기</button>
		</form>
	</div>
</body>

</html>


<script>


</script>