.header .main-nav {
	text-align: center;
}

.header .main-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
	;
}

.header .menu-item {
	position: relative;
	margin-right: 20px;
}

.header .menu-item a {
	display: block;
	padding: 10px;
	background-color: #333;
	color: white;
	text-decoration: none;
}

header.header nav.main-nav li.menu-item ul.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #444;


	display: none;
	flex-direction: row;
}

header.header nav.main-nav li.menu-item:hover ul.submenu {
	display: flex;
}

.header .submenu li {
	margin-right: 20px;	/* 원하는 간격으로 조절 */
}

.header .submenu li:last-child {
  margin-right: 0;
}

.header .submenu li a {
	padding: 10px;
	display: block;
	color: white;

	white-space: nowrap;
	width: auto;
}