<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>편지 작성 폼</title>
</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<form th:action="@{/SendMessage}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id"/>

		<label for="name">제목:</label>
		<input type="text" id="title" name="title" size="50" required/><br/>

		<label for="text">받는사람:</label>
		<input type="text" id="receiver" name="receiver" size = "50" required/><br/>
		
		<label for="context">내용:</label>
		<textarea id="content" name="content" cols="50" rows="30"></textarea><br/>
		
		<label for="item_Type">보낼 아이템 종류:</label>
		<select id="item_Type" name="item_Type">
		    <option value="">-- 선택 없음 --</option>
		    <th:block th:each="type : ${itemTypes}">
		        <option th:value="${type.name()}" 
		                th:text="${type.displayName}"></option>
		    </th:block>
		</select><br/>

		<!-- 수치/개수 입력 -->
		<label for="item_Value">수량 / 포인트 수치:</label>
		<input type="number" id="item_Value" name="item_Value" min="0" th:attr="max=${max}" value = "0" /><br/>
				
		<button type="submit">전송</button>
	</form>

</body>

</html>