<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>헤더</title>
	<style>
	</style>
</head>

<body>
	<div th:fragment="siteHeader">
		<header class="header">
			<!--<h1 class="logo" onclick="location.href='/'">이리온!</h1>-->
			<img class="logo" src="/imagesDefault/mainlogo.png" alt="로고" onclick="location.href='/'">

			<nav class="main-nav">
				<ul>
					<li class="menu-item">
						<a href="/PetPlaces">반려동물 동반시설</a>
					</li>
					<li class="menu-item">
						<a href="/">게시판</a>
						<ul class="submenu">
							<li><a href="/AnimalPride">반려동물 자랑</a></li>
							<li><a href="/KnowHow">노하우</a></li>
							<li><a href="/WalkTrail">산책로 추천</a></li>
							<li><a href="/UsedGoods">중고거래</a></li>
							<li><a href="/Adopt">입양 게시판</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="/RPS">가위바위보</a>
					</li>
					<li class="menu-item">
						<a href="/MyPage">마이페이지</a>
						<ul class="submenu">
							<li><a href="/MessageList">쪽지</a></li>
							<li><a href="/ModifyUser">개인정보수정</a></li>
							<li><a href="/myanimal">동물프로필</a></li>
							<li><a href="/Bulletin">내가 쓴 게시글</a></li>
							<li><a href="/attendcheck">출석체크</a></li>
							<li><a href="/Withdrawal">탈퇴</a></li>
						</ul>
					</li>
					<li class="menu-item" th:if="${loginUser != null and loginUser.privileges.name() == '관리자'}">
					    <a href="/admin/userlist">관리자 메뉴</a>
					    <ul class="submenu">
					        <li><a href="/admin/carousel">공지 관리</a></li>
					        <li><a href="/admin/userlist">회원 관리</a></li>
					        <li><a href="/admin/default">디폴트 이미지</a></li>
							<li><a href="/admin/reportBoardList">신고 게시판</a></li>
							<li><a href="/admin/reportCommentList">신고 댓글</a></li>
					    </ul>
					</li>
				</ul>
			</nav>

			<nav class="UserLogin">
				<span th:if="${loginUser != null}">
					<img th:src="@{${loginUser.profilePath}}"
						style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;" alt="이미지" />
					<a href="/MyPage"><strong th:text="${loginUser.nickName}"></strong></a>
				</span>
				<button th:if="${loginUser == null}" onclick="location.href='/Login'">로그인</button>
				<form th:action="@{/Logout}" th:if="${loginUser != null}" method="post">
					<button type="submit">로그아웃</button>
				</form>
			</nav>
		</header>
	</div>

	<script>

	</script>
</body>

</html>