<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/CSS/header.css}">
  <link rel="stylesheet" th:href="@{/CSS/home-popular-post.css}">
</head>

<body>
  <!-- 헤더 -->
  <div th:replace="~{header :: siteHeader}"></div>

  <!-- 인기글 섹션 -->
  <section class="home-popular-post">
    <h2>추천 게시판</h2>

    <!-- 입양 게시판 -->
    <h3 class="board-title">입양 게시판</h3>
    <div class="card-grid">
      <a th:each="post : ${Adopt}" th:href="@{/AdoptDetail/{id}(id=${post.boardNum})}">
        <div>
          <img th:src="${post.Image_paths}" alt="썸네일" />
          <h3 th:text="${post.title}">게시글 제목</h3>
          <p th:text="'작성자: ' + ${post.nickName}">작성자</p>
        </div>
      </a>
    </div>

    <!-- 자랑 게시판 -->
    <h3 class="board-title">동물 자랑</h3>
    <div class="card-grid">
      <a th:each="post : ${AnimalPride}" th:href="@{/AnimalPrideDetail/{id}(id=${post.boardNum})}">
        <div>
          <img th:src="${post.Image_paths}" alt="썸네일" />
          <h3 th:text="${post.title}">게시글 제목</h3>
          <p th:text="'작성자: ' + ${post.nickName}">작성자</p>
        </div>
      </a>
    </div>

    <!-- 산책 게시판 -->
    <h3 class="board-title">산책로 추천</h3>
    <div class="card-grid">
      <a th:each="post : ${WalkTrail}" th:href="@{/WalkTrailDetail/{id}(id=${post.boardNum})}">
        <div>
          <img th:src="${post.Image_paths}" alt="썸네일" />
          <h3 th:text="${post.title}">게시글 제목</h3>
          <p th:text="'작성자: ' + ${post.nickName}">작성자</p>
        </div>
      </a>
    </div>

    <!-- 중고거래 -->
    <h3 class="board-title">중고 용품</h3>
    <div class="card-grid">
      <a th:each="post : ${UsedGoods}" th:href="@{/UsedGoodsDetail/{id}(id=${post.boardNum})}">
        <div>
          <img th:src="${post.Image_paths}" alt="썸네일" />
          <h3 th:text="${post.title}">게시글 제목</h3>
          <p th:text="'작성자: ' + ${post.nickName}">작성자</p>
        </div>
      </a>
    </div>

    <!-- 꿀팁 게시판 -->
    <h3 class="board-title">반려 꿀팁</h3>
    <div class="card-grid">
      <a th:each="post : ${Knowhow}" th:href="@{/KnowHowDetail/{id}(id=${post.boardNum})}">
        <div>
          <img th:src="${post.Image_paths}" alt="썸네일" />
          <h3 th:text="${post.title}">게시글 제목</h3>
          <p th:text="'작성자: ' + ${post.nickName}">작성자</p>
        </div>
      </a>
    </div>

  </section>
</body>
</html>
