<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	
<head>
	<title>MyPage</title>	
</head>
<body>
	<h1>마이페이지</h1>
	<button onclick="location.href='/ModifyUser'">개인정보수정</button>
	<button onclick="location.href='/ChangePassword'">비밀번호변경</button>
	<button onclick="location.href='/AnimalProfile'">동물프로필</button>
	<button onclick="location.href='/AddProfile'">동물추가</button>
	<button onclick="location.href='/Damagochi'">가반키</button>
	<button onclick="location.href='/Withdrawal'">탈퇴</button>
</body>

</html>