<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>반려동물 동반 시설</title>
</head>

<body>
	<h1>반려동물 동반 시설</h1>
	<!--<input type="text" id="search" placeholder="도로명 주소를 입력하세요" />
	<button id="searchButton">검색</button>

	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript"
	  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dce17087a3d2429788e93d921261b39f&libraries=services"></script>

	<script>
		var mapContainer = document.getElementById('map'),
			mapOption = {
				center: new kakao.maps.LatLng(37.5665, 126.9780),//중심 위도 경도
				level: 4
			};

		//지도생성
		var map = new kakao.maps.Map(mapContainer, mapOption);
	</script>-->
</body>
</html>