<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>편지 작성 폼</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/message-box.css}">
</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<div class="message-box">
	
		<form th:action="@{/SendMessage}" method="post" enctype="multipart/form-data"  onsubmit="return showSendAlert();">
			<input type="hidden" name="id" />
	
			<label for="name">제목:</label>
			<input type="text" id="title" name="title" size="50" required /><br />
	
			<label for="text">받는사람:</label>
			<input type="text" id="receiver" name="receiver" size="50" th:value="*{receiver}" required /><br />
	
			<label for="context">내용:</label>
			<textarea id="content" name="content" cols="50" rows="30"></textarea><br />
	
			<label for="item_Type">보낼 아이템 종류:</label>
			<select id="item_Type" name="item_Type">
				<th:block th:each="type : ${itemTypes}">
					<option th:value="${type.name()}" th:text="${type.displayName}"></option>
				</th:block>
			</select><br />
	
			<!-- 수치/개수 입력 -->
			<label for="item_Value">수량 / 포인트 수치:</label>
			<input type="number" id="item_Value" name="item_Value" min="0" value="0"
			    th:if="${isAdmin}" />

			<input type="number" id="item_Value" name="item_Value" min="0" value="0"
			    th:unless="${isAdmin}" th:attr="max=${max}" />
			<br />
	
			<button type="submit">전송</button>
		</form>
	
	</div>
</body>
<script type="text/javascript">
	function showSendAlert() {
		alert('전송이 완료되었습니다!');
		return true; // false로 하면 전송이 안 됩니다
	}
</script>
</html>