<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>편지 확인 폼</title>
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
</head>

<body>
	<div th:replace="~{header :: siteHeader}"></div>

	<h1>쪽지함</h1>
	<table id="usersTable">
		<thead>
			<tr>
				<th>보낸사람</th>
				<th>제목</th>
				<!--<th>내용</th>
				<th>아이템종류</th>
				<th>양</th>-->
				<th>받기</th>
			</tr>
		</thead>
		<tbody>
			<!-- 사용자 데이터가 여기에 추가됩니다 -->
			<tr th:each="message : ${messageList}" th:if="${message.messageStatus.name() != 'DELETE'}">

				<table>
					<tr onclick="toggleDetail(this)">
						<td th:text="${message.sender}"></td>
						<td th:text="${message.title}"></td>
					</tr>
					<tr class="detail-row" style="display: none;">
						<td colspan="3">
							<strong>내용:</strong> <span th:text="${message.content}"></span><br>
							<strong>아이템 종류:</strong> <span th:text="${message.item_Type}"></span><br>
							<strong>아이템 값:</strong> <span th:text="${message.item_Value}"></span>
							<a th:href="@{/GettingGift(messageNum=${message.num})}" class="btn" th:if="${message.messageStatus.name() != 'TAKE' 
							          and message.item_Type == 'NONE'
							          and message.item_Value != 0}">
								받기
							</a>
						</td>
					</tr>
				</table>
			</tr>
		</tbody>
	</table>
	<button onclick="location.href='/CreateLetter'">쪽지작성</button>

</body>

</html>

<script>
	function toggleDetail(row) {
		const detailRow = row.nextElementSibling;
		if (detailRow.style.display === "none") {
			detailRow.style.display = "table-row";
		} else {
			detailRow.style.display = "none";
		}
	}
</script>